<?php
	define('ESIFRONTEND_BACKEND_IP', '127.0.0.1');
	define('ESIFRONTEND_BACKEND_HOSTNAME', 'backend.com'); // the hostname that the backend will perceive requests to come to, must probably be configured in web server as the vhost.
	define('ESIFRONTEND_BACKEND_PORT', '8080');
	define('ESIFRONTEND_OVERRIDE_VARY_HEADER', true);
	define('ESIFRONTEND_CLOSE_SESSION', true);
	define('ESIFRONTEND_SKIP_CACHE', '/ndla_node_export/status'); // comma separated
	define('ESIFRONTEND_MAIN_CONTENT_TTL', 2000000);
	//define('ESIFRONTEND_DUMP_ESI_URL', true); // Debugging feature to show the urls.
