div.subscribe_form_switch {
	position: absolute;
	overflow: hidden;
	border: 1px solid black;
	background-color: white;
}

div.subscribe_form_switch div.subscribe_form_container {
	margin: 10px;
	overflow: hidden;
}