
ul#attachment_list {
	list-style-type: none;
}

ul#attachment_list li.attachment_item {
	display: block;
	overflow: hidden;
}

span.attachment_name {
	float: left;
	width: 300px;
}

span.attachment_delete {
	float: left;
	width: 100px;
}

div.file_attachments_box {
	display: none;
	position: absolute;
	overflow: hidden;
	border: 1px solid black;
	background-color: white;
}

ul.file_attachments_box {
	margin: 5px;
	overflow: hidden;
}

li.file_attachments_box {
	margin-top: 2px;
	margin-bottom: 2px;
}